body {
  /*
height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   background-attachment: fixed;
 Center and scale the image nicely  font-family: 'Montserrat', sans-serif;    font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;    font-family: 'Poppins', sans-serif;  */
  margin: 0;
  background-color: #DADDFC;
  font-family: 'Poppins', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home {
  height: 700px;
  width: 1350px;
}

#home-1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#title {
  font-family: 'Poppins', sans-serif;
  background-color: #F49D1A;
  /* position: sticky; */
  top: 0;
}

.navbar-head {
  font-family: 'Paytone One', sans-serif;
  color: #fff;
}

.navbar-head:hover {
  font-family: 'Paytone One', sans-serif;
  color: #f4eee8;
}

.navbar-category {
  color: #fff;
}

.navbar-category:hover {
  color: #f4eee8;
}

.navbar-nav {
  padding-left: 2rem;
}

.nav-category {
  padding: 0 1rem;
}

.nav-item {

  text-decoration: none;
}

.nav-link {
  color: #282A3A;
}

.nav-link:hover {
  color: #fff;
}

.btn {
  margin: px;
  width: 15rem;
  height: 5rem;
}

.btn:active {
  transform: translateY(4px);
}

.social-item {
  color: #FFC4E1;
  padding: 10px;
}

.fab {
  color: #000;
}

.fab:hover {
  color: #fff;
}

.links-1 {
  background-color: #fff;
}

.links-1:hover {
  color: aqua;

}

.links-2 {
  color: black;

}

.links-2:hover {
  color: aqua;
}

.sub-notice {
  background-color: white;
  border-bottom: 1px solid rgb(247, 151, 9);
  height: 100px;
  width: 100%;
}

#sub-title {
  padding: 20px 0;
}

#content {

  color
}

.content-left {}

.content-middle {
  background-color: purple;
}

.content-right-1 {
  border: solid #ffc288 2px;
  background-color: #d5ecc2;
}

.footer-1 {
  background-color: #e3cdc1;
}


.container-style {
  line-height: 1.7;
  margin-top: 5rem;
}

@media (max-width:1550px) {
  .middle-link {
    color: #000;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
  }

  .middle-link:hover {
    color: #000;
    background-color: #abedd8;
    border-radius: 20px;
  }
}

@media (max-width:1300px) {

  .content-image {
    height: 300px;
    width: 650px;
  }

  @media (max-width:580px) {
    .content-image {
      height: 200px;
      width: 450px;
    }











    #middle {

      background-color: ;
      height: 100%;
      padding: 5rem 3rem;
      text-align: left;
    }

    .middle-link {
      color: #000;
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
      text-decoration: none;
    }

    .middle-link:hover {
      color: #000;
      background-color: #abedd8;
      border-radius: 20px;
    }

    .passage {
      color: ;
      background-color: ;
    }

    .d-block {
      padding-right: 30px;
    }

    .pagination {
      margin-left: 40rem;
    }

    .footer-1 {
      background-color: #687980;
    }

    .col-12 {
      text-align: center;
    }

    .footer-link {
      color: #d8e3e7;
      text-decoration: none;
    }

    /* weblinks styles */

    .weblink-welcome {
      color: #fff;
      font-size: 2rem;
    }


    <i class="fas fa-home"><i class="fas fa-blog"><i class="fas fa-images"><i class="fas fa-window-restore"><i class="fas fa-id-card-alt"><i class="fas fa-eject">
